/bin
/obj
**/bin/
**/obj/
/example/Entwicklung
/.vscode
/.monadic_ingest_cache.json
logs/
*.log
appsettings.*.local.json
.env

# Test results
**/TestResults/
*.trx
*.coverage
*.coveragexml
*.zip

# Code Coverage Reports
TestCoverageReport/
coverage/
**/coverage.cobertura.xml
